:root {
   /* Colours */
   --DarkGrey: #1A1A1A;
   --LightGrey: hsl(0, 0%, 35%);
   --SelectedModule: #dadada;
   --White: #FFFFFF;
   --OffWhite: hsl(0, 0%, 75%);
   --DarkBlue: #4098FF;
   --LightBlue: hsl(212, 100%, 50%);
}

* {
  font-family: system-ui,'Lato', sans-serif;
  user-select: none;
}

* > a {
  text-decoration: none;
  color: var(--White);
  font-weight: 600;
}

.Wrapper {
  max-width: 100vw;
  max-height: 100vh;
  min-width: 350px;
  min-height: 650px;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--LightGrey);
  background-image: url("../Images/Backgrounds/Darken/Background_04.png");
  background-position: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

.CheckIn_Button {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5vh;
  border-top: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0%;
  background: var(--LightBlue);
  color: var(--White);
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.CheckIn_Button:hover {
  background: var(--DarkBlue);
  color: var(--White);
}

.ClearData_Button
{
  width: 30%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 3vh;
  border: 1px solid black;
  background: #ff4040;
  color: var(--White);
  font-weight: 600;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.25);
}

.ClearData_Button:hover {
  background: #ff7373;
  color: var(--White);
}

.AttendyNavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
  height: 5vh;
  padding: 0em 0.5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid black;
  position: sticky;
  top: 0;
  left: 0;
}

.CheckIn_WelcomeText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  flex-direction: column;
  text-shadow: 2px 3px 10px rgba(0,0,0,0.25);
}

.CheckIn_WelcomeText > h1 {
  font-weight: 600;
  color: var(--DarkGrey);
  margin: 10em 0em 0em 0em;
  text-shadow: 2px 3px 10px rgba(0,0,0,0.25);
}

.CheckIn_WelcomeText > p {
  font-weight: 900;
  font-size: 2em;
  color: var(--White);
  text-shadow: 2px 3px 10px rgba(0,0,0,0.25);
}

.CheckIn_WelcomeText > h1 > span {
  font-weight: 900;
  color: var(--DarkBlue);
  text-shadow: 2px 3px 10px rgba(0,0,0,0.25);
}

.NavigationBar_Links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.NavigationBar_Links > a {
  background-color: var(--DarkBlue);
  padding: 0.25em;
  border-radius: 5px;
  padding: 0.5em 0.5em;
}

.CheckIn_InputFields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  height: 75vh;
}

.CheckIn_InputFields > input {
  height: 3em;
  width: 80%;
  border: 0px solid var(--DarkGrey);
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.25);
  background-color: var(--White);
  color: var(--DarkGrey);
  text-align: center;
}

.CheckIn_InputFields > input::placeholder {
  color: var(--OffWhite);
  text-align: center;
  font-weight: 600;
}

.CheckIn_InputFields > input:focus {
  color: #000;
  text-align: center;
  font-weight: 600;
}

.AttendanceHeading {
  text-align: center;
  color: var(--White);
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
  margin: 0em 0em 3em 0em;
}

.ModuleContainers {
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--White);
    width: 90%;
    margin: 0em auto 3em auto;
    border: var(--LightGrey);
    border-radius: 10px;
    box-shadow: 3px 3px 10px;
    margin: 3em auto 0em auto;
}

.ModuleContainers > div {
  width: 100%;
  text-align: center;
  user-select: none;
}

.ModuleContainers > div:hover {
  background-color: var(--SelectedModule);
  border-radius: inherit;
  cursor: pointer;
}

#OverallAttendanceDonut {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.ModuleContainers > div > p > canvas {
  width: 100%;
  height: 100%;
  margin: 0em auto 1em auto;
}

.ModuleContainerStats
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}
