@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap");

:root {
  --DarkGrey: #1a1a1a;
  --LightGrey: hsl(0, 0%, 35%);
  --SelectedModule: #dadada;
  --White: #ffffff;
  --OffWhite: hsl(0, 0%, 75%);
  --DarkBlue: #4098ff;
  --LightBlue: hsl(212, 100%, 50%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Poppins", sans-serif;
}

* > a {
  text-decoration: none;
  color: var(--White);
}

html,
body {
  background-color: var(--LightGrey);
}

.CheckIn_Button {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5vh;
  border-top: 1px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0%;
  background: var(--DarkBlue);
  color: var(--White);
  font-weight: 900;
  outline: none;
  cursor: pointer;
}

.AttendyNavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--LightBlue);
  height: 5vh;
  padding: 0em 0.5em;
}

.NavigationBar_Links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.CheckIn_InputFields {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  height: 90vh;
}

.CheckIn_InputFields > input {
  height: 48px;
  width: 80%;
}
